<!-----------HEADER START----------->
<header class="position-sticky top-0 z-3" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg m-0 px-2 py-0 py-lg-2 ">
        <div class="container-fluid d-flex justify-content-between">
            <a th:href="@{/}" class="navbar-brand">

                <img class="navbar-brand" th:src="@{/images/logo.png}" alt="Pipicucu"></a>

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu_lateral">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- offcanvas start -->
            <section class="offcanvas offcanvas-start" id="menu_lateral" tabindex="-1" aria-labelledby="menuLabel">
<!--                <div class="offcanvas-header">-->
<!--                    <a th:href="@{/}">-->
<!--                    <img class="navbar-brand" th:src="@{/images/logo.png}" alt="PipicucuFood">-->
<!--                    </a>-->

<!--                    <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>-->
<!--                </div>-->
                <div class="offcanvas-body">
                    <ul class="navbar-nav d-flex justify-content-center gap-0" id="ul-list">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/panel" id="login">Admin</a>
                        </li>
                    </ul>
                    <a class="d-flex justify-content-center" href="/logout" title="Cerrar sesión">
                        <svg xmlns="http://www.w3.org/2000/svg" width="42px" height="42px" viewBox="0 0 512 512" fill="white">
                            <path
                                    d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" />
                        </svg>
                    </a>
                </div>
            </section>
            <!-- offcanvas end -->
        </div>
    </nav>
</header>
<!-----------HEADER ENDS----------->